.aboutus {
  padding-bottom: 94px;
}

.aboutContent {
  margin-top: 20px;
  display: flex;
  gap: 150px;
}

.aboutContent > div:first-child {
  align-self: center;
}

.aboutContent h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 25px;
}

.aboutContent p {
  max-width: 893px;
  font-size: 20px;
  font-weight: 300;
}

.mission {
  padding-top: 128px;
  padding-bottom: 55px;
  background-color: white;
}

.mission p {
  max-width: 1308px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.value {
  padding-top: 48px;
  padding-bottom: 55px;
}

.valueContent {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.valueContent > img {
  align-self: center;
}

.value p {
  font-size: 20px;
  font-weight: 300;
}

.press {
  background-color: white;
  padding-top: 113px;
  padding-bottom: 92px;
}

@media only screen and (max-width: 768px) {
  .aboutus,
  .mission,
  .value,
  .press {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .aboutContent img,
  .value img,
  .press img {
    display: none;
  }
  .aboutContent {
    gap: 0px;
  }
}
