@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600;700&family=Patua+One&display=swap");

.hero {
  background-image: url("/hero1.png");
  background-position: center;
  min-height: 548px;
  font-family: "Inknut Antiqua", serif;
  margin-top: 48px;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero p {
  paint-order: stroke;
  color: #e1dcc9;
  font-weight: 700;
  text-align: center;
  max-width: 947px;
}

.heroText1 {
  font-size: 25px;
  line-height: 42px;
  -webkit-text-stroke: 2px #1a0e0b;
  margin-top: 241px;
}

.heroText2 {
  font-size: 24px;
  -webkit-text-stroke: 2px black;
  margin-top: 12px;
  padding-bottom: 10px;
}

.hero button {
  background-color: #e1dcc9;
  border: #693b23 5px solid;
  font-weight: 600;
  color: #4e240f;
  height: 77px;
  padding: 0 16px;

  margin-top: 82px;
}

@media only screen and (max-width: 900px) {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heroText1 {
    margin-top: 200px;
  }
}

.readmore {
  display: flex;
  gap: 22px;
  align-items: center;
  padding: 30px 0;
}

.readmoreImage {
  height: fit-content;
  flex: 1;
  flex-wrap: wrap;
  min-width: 200px;
}

.readmoreText {
  max-width: 407px;
  font-family: "Patua One", cursive;
  text-align: center;
  flex: 1;
  padding-right: 100px;
  box-sizing: content-box;
}

.readmoreText > *:not(:last-child) {
  margin-bottom: 60px;
}

.readmoreText h2 {
  font-size: 32px;
}

.readmoreText p {
  font-size: 24px;
  line-height: 29px;
}

.readmoreText button {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  background-color: #b36827;
  height: 81px;
}

@media only screen and (max-width: 900px) {
  .readmore {
    flex-direction: column;
  }
  .readmoreText {
    padding-right: 0px;
    box-sizing: border-box;
  }
}

.menu {
  background-color: #5d1d0c;
}

.menu h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  background-color: #e1dcc9;
}

.cardsContainer {
  margin-top: 60px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
}

.testimonials h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.testimonialsContainer {
  margin-top: 48px;
  padding-bottom: 66px;
  display: flex;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
}
